{% if request.user.estado == 'DI' %}
disponible

<form method="POST"  action="{% url  'aceptar_servicio' %}">
    {% csrf_token %}
    <input type="hidden" name="usuario" value="{{turno.0.usuario.pk}}">
    <input type="hidden" name="turno" value="{{turno.0.pk}}">
    <button>Aceptar turno</button>
</form>
{% else %}
ocupado
<br>
<form action="." method="POST">
        {% csrf_token %}
    
<p><label for="id_first_name">Nombre:</label> <input type="text" name="first_name" maxlength="30" id="id_first_name" value="{{turno.0.usuario.first_name}}"></p>
<p><label for="id_last_name">Apellidos:</label> <input type="text" name="last_name" maxlength="150" id="id_last_name" value="{{turno.0.usuario.last_name}}"></p>
<p><label for="id_cedula">Cedula:</label> <input type="text" name="cedula" maxlength="30" id="id_cedula" value="{{turno.0.usuario.cedula}}"></p>
    <br>
    <button>Enviar</button>
</form>
{% endif %}