{% if request.user.estado == 'DI' %}
disponible <br>
    {% if turno|length != 0 %}
        <form method="POST"  action="{% url  'aceptar_servicio' %}">
            {% csrf_token %}
            <input type="hidden" name="turno" value="{{turno.0.pk}}">
            <button>Aceptar turno {{turno.0.pk}}</button>
        </form>
    {% else %}
        Sin turnos
    {% endif %}

{% else %}
ocupado en el turno {{request.user.get_selected_turno.servicio.pk}}
<br>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<form action="." method="POST">
        {% csrf_token %}
    
<p><label for="id_first_name">Nombre:</label> <input type="text" name="first_name" maxlength="30" id="id_first_name" value="{{request.user.get_selected_turno.servicio.usuario.first_name}}"></p>
<p><label for="id_last_name">Apellidos:</label> <input type="text" name="last_name" maxlength="150" id="id_last_name" value="{{request.user.get_selected_turno.servicio.usuario.last_name}}"></p>
<p><label for="id_cedula">Cedula:</label> <input type="text" name="cedula" maxlength="30" id="id_cedula" value="{{request.user.get_selected_turno.servicio.usuario.cedula}}"></p>
    <br>
    <button>Enviar</button>
</form>

<form action="{% url 'finalizar' request.user.get_selected_turno.pk %}" method="POST">
    {% csrf_token %} 
    <input type="checkbox" name="proceso" value="true"  style="display:none;">
    <button>Terminar turno</button>
</form>
{% endif %}


<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var send = false;
  $(function () {
      $("button").click(function(){
        send = true;
      });
    var socket = io('http://localhost:3000');
    socket.on('nuevo_turno',function(data){
        {% for i in request.user.servicios_empleados.all %}
            if (data.recargar == "{{i.servicicios.pk}}"){
                if (send == false){
                    location.reload();
                }
            }
        {% endfor %}
    });
  });
</script>